<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4">
            <img src="../static/img/elherbario_logo.svg" alt="footer" class="img-fluid w-100">
            <p>Dirección: Carrera 430 N 10-30 Colombia, Ubicado entre la calle 10 y la 10A dos cuadras abajo del parque el poblado</p>
            <p>Horario: Lunea a sabado de 12:00pm a 2:45pm y de 6:00pm a 10:00pm</p>
            <p>Telefono: (604) 444809</p>
            <p>Whatsapp: 3217680987</p>

        </div>
        <div class="col-12 col-md-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126916.91537945955!2d-75.55413191863212!3d6.2434782168912655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428dfb80fad05%3A0x42137cfcc7b53b56!2sMedell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses!2sco!4v1665669065854!5m2!1ses!2sco" class="w-100" height="400"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>